@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-menu-item a {
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font to navbar menu items */
}

.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 64px;
    background: white;
}

.mid-area {
    background-color: #f0f0f0; /* Off-white color */
}
.logo{
   
    color: rgba(101, 31, 255, 1);
    font-size: 1.8rem;
    cursor: pointer;
    font-family: Mochiy Pop One;
    display: flex;
    align-items: center;

}
.logo a{
    text-decoration: none;
    color: rgba(101, 31, 255, 1);
}
.navbar-menu{
    display: flex;
    list-style: none;
    text-align: center;

}
.navbar-menu-item{
    font-size: 1rem;
    line-height: 40px;
    margin-right: 1.5rem;
   
}
.navbar-menu-item::after{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: all 0.5s ease-in-out;
}

.navbar-menu-item:hover::after{
    width: 100%;
    background: rgba(101, 31, 255, 1); ;
}
.navbar-menu-item a{
color:rgba(92, 95, 110, 1);
    text-decoration: none;
    padding: 0.5rem;
}
.extra{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: montserrat;
    color:  rgba(92, 95, 110, 1);
    font-size: 1rem;
    cursor: pointer;
}

.btns{
    display: flex;
    align-items: center;
    margin-right: -30px;
    justify-content: center;
    gap: 1rem;
}
.btns span{
    display: flex;
    margin: 0px 10px;
}

.btns span a{
    text-decoration: none;
}

.sign{
    padding: 10px 15px;
    border: 2px solid black;
    background: white;
    color: black;
    border-radius: 12px;

}
nav .btns span:nth-child(2) a {
    background: rgba(101, 31, 255, 1);
    padding: 10px 15px;
    border-radius: 12px;
    transition: 0.4s ease-in;
    color: white;
}
nav .btns span:nth-child(2) a:hover{
background: transparent;
color: rgba(92, 95, 110, 1) ;
border: 1px solid #8B68FF;

}
.header{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
  

}
.content{
    margin-top: 2%;
    margin-left: 5% ;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_para{
    text-align: center;
    font-family: montserrat;
    font-size: 3.2rem;
    font-weight: 700;
    width: 90%;
}
.bold{
    color: rgba(101, 31, 255, 1);

}
.second_para{
    text-align: center;
    font-size: 1.3rem;
    display: flex;
    font-family: montserrat;
    justify-content: center ;
    width: 60%;
    font-weight: 100;
    color: rgba(92, 95, 110, 1);

}
.image-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-content img{
    height: 100%;
    width: 70%;
    

}



:root {
    --bg-primary: #651FFF;
}


/* Navbar styling */


.logo {
    color: var(--bg-primary);
    font-size: 1.5rem;
    font-family: 'Mochiy Pop One', sans-serif;
    margin-left: 20px;
}

button {
    border-radius: 12px;
    padding: 9px 17px 9px 17px;
    color: #0B0D0E;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Links styling */

nav ul li a {
    color: #5C5F6E;
    text-decoration: none;
    font-weight: 80;
    color: rgba(128, 128, 128, 0.789);
    transition: all .2s ease-in;
}

nav ul li a:hover {
    color: #651FFF;
    transition: all .1s ease-in;
}

.links {
    display: flex;
    align-items: center;
    font-family: 'Regular 400 Italic', sans-serif;
    padding-left: 10px;
}

.links>ul,
.right>ul {
    list-style: none;
}

.links ul {
    display: flex;
    gap: 20px;
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.right>ul {
    display: flex;
    gap: 20px;
}


.primary-btn {
    background-color: #651FFF;
    color: white;
}

.primary-btn:hover {
    background-color: #661fffdc;
    
}

.signin-btn {
    background-color: white;
    color: #0b0d0e;
}

button:hover {
    cursor: pointer;
}

#mid-btn {
    margin-right: 25px;
}

/* text style */

.mid-area {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-btn {
    display: flex;
    justify-content: center;
}

/* content styling */

.para-text {
    color: var(--bg-primary);
    font-weight: 800;
    font-size: 55px;
}

.content h3 {
    font-size: 55px;
}

.para {
    font-size: 22px;
    color: rgba(128, 128, 128, 0.814);
    font-weight: 300;
}

.fa-bars {
    margin-right: 30px;
    font-size: 24px;
    color: var(--bg-primary);
    display: none;
}

/* active */

.active ul {
    display: block;
}

.svg {
    width: 100%;
    height: 650px;
}


/* media queries for desktop */


@media (min-width : 800px) and (max-width: 1251px) {
    .logo {
        font-size: 1rem;
    }

    nav ul li a {
        font-size: 10px;
    }

    .links ul {
        gap: 15px;
    }

    .links {
        padding-left: 1px;
    }

    .content h3 {
        font-size: 40px;
    }

    .svg {
        width: 100%;
        height: 560px;
    }

    .para-text {
        font-size: 40px;
    }
}

/* media queries for tablets */

@media (max-width: 768px) {
    .fa-bars {
        display: block;
    }

    .links ul {
        display: none;
    }

    .right {
        display: none;
    }

    .active ul {
        display: none;
    }

    .active .right {
        display: none;
    }

    .content h3 {
        font-size: 32px;
    }

    .para-text {
        font-size: 32px;
    }

    .para {
        font-size: 20px;
    }

    .svg {
        width: 85%;
        height: 500px;
    }
}

/* media queries for mobile */

@media (max-width: 480px) {
    .logo {
        font-size: 1rem;
        margin-left: 16px;
    }

    .content h3, .para-text {
        font-size: 17px;
    }

    .para {
        font-size: 12px;
    }

    button {
        padding: 3px 15px 4px 15px;
        font-size: 10px;
    }

    .svg {
        width: 82%;
        height: 370px;
    }

}