 body{
   margin: 0px;
   padding: 0px;
 }

 .main-navbar{
    background-color: rgb(66, 176, 219);
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0 10px;
    text-decoration-color: #000000;

 }

 .hero-section{
   background-color: aliceblue;
   width: 90%;
   margin: auto;
   margin-top: 50px;
   color: black;
   font-size: x-large;
   font-style: initial;
   justify-content: space-between;
   padding: 0px 10px 0 10px;
   
   
   

 }