@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: white;
    /* width: 1440px; */
    height: 65px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* font-size: 18px */
    line-height: 24px;
    margin-left: 20px;

}

nav h3 {
    color: #651FFF;
    width: 124px;
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 29px;
}

nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 29px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

nav ul li a {
    color: #5C5F6E;
    text-decoration: none;

}

.right {
    display: flex;
    gap: 20px;
    margin-left: 280px;
    justify-content: center;
    align-items: center;
}

.right li a {
    color: #5C5F6E;
}

button {
    border: 2px solid black;
    border-radius: 12px;
    padding: 9px 17px 9px 17px;
    color: #0B0D0E;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;




}

.whitebutton {
    display: flex;
    gap: 29px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: #0B0D0E;

}

.bluebutton {
    display: flex;
    gap: 29px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: #0B0D0E;
    border-radius: 12px;
    background-color: #651FFF;
}

button:hover {
    cursor: pointer;
}